<?xml version='1.0' encoding='utf-8'?>
<plugin id="cordova-plugin-your-plugin-name" version="0.0.1"
        xmlns="http://apache.org/cordova/ns/plugins/1.0"
        xmlns:android="http://schemas.android.com/apk/res/android">
    <name>YourPluginName</name>

    <js-module name="YourPluginName" src="www/YourPluginName.js">
        <clobbers target="YourPluginName" />
    </js-module>

    <platform name="ios">
        <config-file target="config.xml" parent="/*">

            <feature name="YourPluginName">
                <param name="ios-package" value="YourPluginName" />
            </feature>

        </config-file>

        <!-- Add in the plugin .swift files here -->
        <source-file src="src/ios/YourPluginName.swift" />

        <!-- Add in the swift-support plugin by default -->
        <dependency id="cordova-plugin-add-swift-support" version="1.7.2"/>
    </platform>
</plugin>
